<%= form_tag(find_restaurant_path, method: :post) %>
  <%= search_field_tag :name %>
<%= submit_tag 'Search', class: "btn btn-default" %>

<a href="" class="btn btn-default geolocation-button popular-restaurants">Follow the Crowd</a>
<%#= link_to 'Follow the Crowd', popular_restaurant_path, class: "btn btn-default", method: :post %>